.header {
  margin-top: 2rem;
}
.main {
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.section {
  margin-top: 4rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #2b3945;
}
.code {
  font-size: 1.5rem;
  margin-top: 2rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.1);
  padding: 4rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  overflow-x: auto;
}
